<!--  all the  basic content  is copied from the basic.html-->

{% extends 'shop/basic.html' %}

{% block title%}  My Awesome cart {% endblock %}


{% block body%} 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">My Awesome Website</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <br>
    <span>
    <a href="/shop"> <button class="btn btn-success px-4 py-4 mr-5">Open Shopping</button></a>
    </span>
    <span>
    <a href="/blog"> <button class="btn btn-success px-4 py-4">Open Blog</button></a>
    </span>
    
</div>



{% endblock %}