<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm payment page </title>
</head>
<body>
    <h1>Redirection to merchant...</h1>
    <h1>Please do not refresh the page</h1>

    <!-- for production use the below link -->
    <!-- <form action=" https://securegw.paytm.in/order/proces" method='POST' name="paytm"> -->
        <!-- for staging/testing use the below link -->
    <form action="https://securegw-stage.paytm.in/order/process" method='POST' name="paytm">
        {% for key, value in params_dict.items %}
        <input type="hidden" name= "{{key}}" value="{{value}}">
        {% endfor %}
    </form>
</body>
<script>
    document.paytm.submit()
</script>
</html>